$black: #000000;
$white: #ffffff;

$red: #ff5100;
$red-70: #ff5100b3;
$pink: #ff635c;
$green: #64a64e;
$green-80: #64a64ecc;
$blue: #4992ec;
$gold: #ecad0d;
$gold-70: #edae0cb3;
$dark-grey: #333333;
$dark-grey-70: #333333b3;
$grey: #5a5a5a;
$light-grey: #b1b1b1;
$lighter-grey: #d3d3d3;
$off-white: #ededed;
$status-red: #ac2626;
$status-green: #089151;
